<div>
	<div class="super-header"></div>
  <frosted-glass-container stretch="true">
    <div id="app">
      <frosted-glass overlay-color="#ffffff52" class="nav-container">
        <i class="material-icons left-menu"></i>
        <ul class="nav-content">
          <li>Home</li>
          <li>Our Story</li>
          <li>Services</li>
          <li>Work</li>
          <li>Journal</li>
          <li>Contact</li>
        </ul>
        <button class="nav-cta">Call Us</button>
      </frosted-glass>
      <div class="hero-container">
        <frosted-glass overlay-color="#ffffff52" blur-amount="1.6rem" class="hero-value-add">
          <h1>Frosted Glass</h1>
          <div class="hero-details">next level street art gastropub flannel keytar sartorial sustainable ennui Brooklyn kitsch artisan typewriter</div>
          <button class="hero-cta">Order now</button>
        </frosted-glass>
      </div>
      <div class="extra-container">
        <div class="extra-content">
          <h2>Artisan craft beer</h2>
          <p>Odd Future raw denim tattooed Godard Truffaut organic tote bag Carles messenger bag flexitarian twee PBR&B blog</p>
          <button class="nav-cta">schedule a demo</button>
        </div>
      </div>
      <div class="extra-container-1"></div>
      <div class="extra-container extra-container-2">
        <div class="extra-content">
            <h2>Kale flannel blog</h2>
            <p> pack readymade Tonx fixie lomo plaid meggings brunch next level authentic organic paleo</p>
            <ul class="icon-list">
              <li><i class="material-icons">ic_flight_takeoff</i></li>
              <li><i class="material-icons">ic_language</i></li>
              <li><i class="material-icons">ic_card_travel</i></li>
            </ul>
        </div>
      </div>
      <div class="footer">
        <ul>
          <li>artisan</li>
          <li>travel</li>
          <li>curated</li>
        </ul>
      </div>
    </div>
  </frosted-glass-container>
  <div class="sub-footer"></div>
</div>