* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

@media all and (min-width: 1301px) and (max-width: 1500px) {
  html { font-size: 1.125rem; }
}

@media all and (min-width: 1501px) and (max-width: 2500px) {
  html { font-size: 1.25rem; }
}

@media all and (min-width: 2501px) and (max-width: 4000px) {
  html { font-size: 1.8rem; }
}

@media all and (min-width: 4001px) and (max-width: 5000px) {
  html { font-size: 2.5rem; }
}

@media all and (min-width: 5001px) {
  html { font-size: 3.5rem; }
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h1, h2 {
  font-weight: 100;
}

@media all and (max-width: 56.25rem) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 31.25rem) {
  h1 {
    font-size: 2.0rem;
  }
}

ul {
  list-style-type: none;
  padding: 2.125rem;
}

li {
  display: inline-block;
  margin: 0 0.8rem;
  cursor: pointer;
}

a {
  color: #fff;
}

button {
  outline: none;
  cursor: pointer;
}

::selection {
  background: rgb(0, 153, 255);
}
